<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="morteza.darzi.SelfTeach">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="/sdcard/SelfTeach/SelfTeach.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <!--<activity-->
            <!--android:name=".Add_Term"-->
            <!--android:label="@string/Terming"-->
            <!--android:windowSoftInputMode="adjustPan|adjustResize">-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        <!--</activity>-->
        <activity
            android:name=".Booking"
            android:label="@string/Booking">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Reading"
            android:label="@string/Reading">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add_Book"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Booking" />
        </activity>
        <activity
            android:name=".Add_Read"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Reading" />
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>